.Editor {
    display: flex;
    gap: 10px;
}

.Editor > input {
    flex: 1;
    padding: 10px;
    height: 30px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
}

.Editor > button {
    width: 80px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: rgb(37, 200, 255);
    color: white;
    font-weight: 600;
}
.Editor > button:hover {
    background-color: rgb(37, 150, 255);
}