.TodoItem {
    display: flex;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.TodoItem > .check {
    width: 30px;
    height: 15px;
    cursor: pointer;
}

.TodoItem > .content {
    flex: 1;
}

.TodoItem > .modifyingInput {
    flex: 1;
    font-size: 16px;
}

.TodoItem > .date {
    font-size: 14px;
    color: gray;
    padding: 0 10px;
}

.TodoItem > button {
    cursor: pointer;
    color: gray;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 15px;
}

.TodoItem > .save:hover {
    background-color: rgb(37, 150, 255);
    color: white;
}

.TodoItem > .cancel:hover {
    background-color: rgb(50, 50, 50);
    color: white;
}

.TodoItem > .modify:hover {
    background-color: rgb(30, 200, 255);
    color: white;
}

.TodoItem > .delete:hover {
    background-color: rgb(30, 30, 30);
    color: white;
}